h1,h2, .site-title {
    font-family: 'Black Ops One', system-ui;
}

body,p,table,input,button, .ip-display{
    font-family:'Google Sans', sans-serif;
}

.bold-text {
    font-weight: 700;
}

.normal-text{
    font-weight: 400;
}